<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {%load static%}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>New Password</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
  <h1>Hello {{ first_name }}, Create a Password!</h1>
  <a href="/logout">Logout</a>
  {% if messages %}
      <ul class="messages">    
          {% for message in messages %}    
            <li style="color: red;">{{ message }}</li> 
          {% endfor %}
      </ul>
  {% endif %}
  <form action="/password/create_password" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label">Name:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="url" class="col-sm-3 col-form-label">URL:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="url">
      </div>
    </div>
    <div class="row mb-3">
      <label for="username" class="col-sm-3 col-form-label">Username:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="username">
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-3 col-form-label">Email:</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" name="email">
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-3 col-form-label">Password:</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="password">
      </div>
    </div>
    <p>
      <input type="submit" value="Submit">
      <a href="/dashboard">Cancel</a>
    </p>
  </form>
</body>
</html>