<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {%load static%}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>Show Password</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
  <h1>Hello {{ first_name }}! Heres more info about {{ password.name }}!</h1>
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
  <h2>{{ password.name }}</h2>
  <p>URL: {{ password.url }}</p>
  <p>Username: {{ password.username }}</p>
  <p>Email: {{ password.email }}</p>
  <p>Password: {{ password.password }}</p>
</body>
</html>